
.packageSection {
    padding: min(6rem, 5%);
    background-color: #f5f5f5;
}
.packageSection strong{
    font-family: var(--font-satoshi);
    font-size: clamp(1.9rem, 2.5vw, 2.2rem);
}
.packageSection h2 {
    text-align: center;
    margin-bottom: 5vh;
}

.packageSection h3 {
    font-weight: 600;
    padding: 1.5rem;
    padding-left: 0;
    border-bottom: #0B0B0B 0.2rem solid;
    margin-bottom: 3rem;
}

.packageSection p {
    font-size: clamp(1.7rem, 2.5vw, 2rem);
}

.packageSection .custom {
    font-family: var(--font-dm-sans);
    text-align: center;
}

.packageSection>p {
    font-size: clamp(1.75rem, 2.5vw, 2.2rem);
    font-family: var(--font-satoshi);
    font-weight: 600;
    line-height: 1.5;
}

.packages {
    padding-top: min(8rem, 8%);
    min-height: 220dvh;
    position: relative;
}
.packageSection article {
    min-height: 65dvh;
    position: sticky;
    background-color: #f5f5f5;

}
.packageSection article:nth-child(1) {
    z-index: 1;
    top: 0;
}
.packageSection article:nth-child(2) {
    z-index: 2;
    top: 17dvh;
}
.packageSection article:nth-child(3) {
    z-index: 3;
    top: 34dvh;
    border-bottom: #0B0B0B solid 0.2rem;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
}
.packageSection article>.packageDesc>P {
    font-family: var(--font-dm-sans);
    flex: 1;
    line-height: 1.7;
    font-weight: 400;
}
.packageDesc {
    display: flex;
    gap: min(5rem, 5%);
}
.packageDesc div {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: var(--font-dm-sans);
    font-weight: 400;
}
@media (max-width: 768px) {
    .packageDesc{
        flex-direction: column;
        gap: 5dvh;
    }
}
