
.contactSection {
    padding: min(6rem, 7%);
    background: linear-gradient(180deg, #303030 0%, #0b0b0b 82.69%);
    position: relative;
    min-height: 80dvh;
}

.contactSection h2{
    border-bottom: #F5F5F5 solid 0.4rem;
    margin-bottom: 10vh;
    padding: 2rem;
    padding-top: 0;
    padding-left: 0;
    font-size: clamp(2.7rem, 3.5vw, 4.3rem);

    background: linear-gradient(90deg, #A0A0A0 0%, #D6A354 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.contactSection h2 div{
    background: linear-gradient(90deg, #A0A0A0 0%, #D6A354 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.contactSection .button {
    background-color: transparent;
    font-size: clamp(2.9rem, 3.5vw, 4.8rem);
    position: absolute;
    right: min(10rem, 10%);
    display: inline-block;
    font-family: var(--font-dm-sans);
    color: #F5F5F5;
    font-weight: 600;
    z-index: 20;
    border-bottom: #F5F5F5 0.4rem solid;
}

.contactSection .button:hover {
    color: #A0A0A0;
}

.contactSection h3 {
    font-size: clamp(2.1rem, 3vw, 2.6rem);
    color: #F5F5F5;
    padding-top: 15dvh;
    padding-bottom: 2vh;
    font-weight: 500;
    opacity: 95%;
    font-family: var(--font-dm-sans);
}

.contactSection ul {
    display: flex;
    gap: min(0.6rem, 2%);
}
.contactSection a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.contactSection a img {
    width: 3rem;
    height: auto;
    opacity: 90%;
    margin: 0 0.2rem;
}

@media (max-width: 768px) {
    
    .contactSection{
        text-align: center;
        min-height: 65dvh;
    }
    .contactSection .button{
        position: static;
    }
    .contactSection h3{
        padding-top: 10dvh;
    }
    .contactSection .img{
        display:none;
    }
    .contactSection ul{
        justify-content: center;
    }
}
