.aboutSection {
    padding: min(6rem, 7%);

    height: auto;
    background-color: #f3f3f3;
    display: flex;
    min-height: 100dvh;
}

.aboutDiv {
    flex: 1.2;
}

.imageDiv {
    flex: 1;
    position: relative;
}

.imageDiv img {
    width: 90%;
    height: auto;
    position: absolute;
    right: 0;

}

.aboutSection p {
    font-family: var(--font-dm-sans);
    font-size: clamp(1.6rem, 2.2vw, 2rem);
    line-height: 1.65;
    font-weight: 380;
    color: #0b0b0b;
    opacity: 0.97;
    word-spacing: 0.08em;
    letter-spacing: 0.005em;
    margin-top: 3dvh;
}

.aboutSection h2 {
    flex: 1.1;
    font-weight: 550;
    font-size: clamp(2.6rem, 2.8vw, 3.6rem);
    color: #0b0b0b;
    border-right: 0.4rem solid #F5F5F5;
    padding-right: 3%;
    z-index: 10;
    word-spacing: 0.02em;
    letter-spacing: 0.003em;
}

.aboutSection .div-hr {
    margin-top: 15vh;
}

@media (max-width: 768px) {
    .aboutSection {
        flex-direction: column;
    }

    .aboutDiv p {
        line-height: 1.6;
    }
    .imageDiv{
        position: static;
    }
    .imageDiv img{
        position: static;
        width: 100%;
        margin-top: 3dvh;
    }
}

