.footer{
    padding: min(2rem, 4%) min(6rem, 5%);
    background-color: #0b0b0b;

    display: flex;
    justify-content: space-between;

    font-family: var(--font-dm-sans);
    font-weight: 400;
}
.footer a, .footer small{
    color: #f5f5f5;
    font-size: clamp(1.6rem, 2vw, 1.9rem);
}
.footer nav ul{
    display: flex;
}

.linkItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0 0.7rem;
}
.linkItem img{
    width: 2.7rem;
    height: 2.7rem;
}

@media (max-width: 768px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2.5dvh;
    }
    .footer nav ul{
        justify-content: center;
    }
}
